.HeroSection{
  background-color: white;
  background-position-x: 13291px;
  background-position-y: 12px;
  position: absolute;
}
.header{
  display: inline;
}
.top-bar{
  padding:10px 20px;
  text-align: right;
  font-size: 24px; 

}
.top-bar-btn{
  background-color: #1779a8;
  color: white;
  margin-left: 10px;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  font-size: 18.14px;
}
.top-bar-2btn{
  background-color: white;
  color:#1779a8;
  margin-left: 10px;
  padding: 6px 12px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 18.14px;
}
.logo{
  justify-items: center;
  background-blend-mode: color;
}
.orange{
  background-image: url("orange-tri.svg");
  background-size: cover;
  color: white;
  justify-items: right;
  height: 150px;
  width: 200px;
  
}
.full-pg-bg {
  background-image: url("hero-banner.png");  
  background-size: cover;
  background-repeat: no-repeat;
  justify-items: center;
  width: 100%;
  height: 700px;
}
.full-pg-bg h2{
  font-size: 64px;
  font: robot slab;
}
.text-section{
   justify-items: center;
  text-align: left;
   padding:20px 40px;
   font-size: 64px;
   color:white;
}
.enroll-btn, .download-btn {
  background-color: #00274d;
  color: white;
  justify-content: left;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  cursor: pointer;
}
.orange-tri.svg{
  justify-content: right;
  background-size: cover;
  
}
.container{
    display: inline-block;
    justify-content: right;
    align-items: bottom right;
    border: #ccc;
    width: 33.3%;
}

.info-boxx{
    display: flex;
  background-color: #e4f4fc;
  background-size: 100%;
  padding: 40px;
  text-align: center;
  gap: 33.3%;
  font-size: 22px;
}
.highlight-blue{
  color: #14516e;
}
.font-style{
  font-family: robot system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.highlight-orange {
  color: orange;
  font-weight: bold;
  align-items: right;
}
.information-section{
  padding: 40px;
  font-size: 26px;
  text-align: center;

}
.participate-section{
  display: flex;
  text-align: center;
  gap: 50%x;
  padding: 50px;
  background-color: #e4f4fc;
  background-size: 100%;
  margin-top: 20px;
  font-size: 22px;
  justify-content: center;
}
.challenge-btn{
  background-color: #14516e;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
}
.info-boxes{
  display: flex;
  text-align: right;
  gap: 10px;
  flex-wrap: wrap;
}
.info-box{
  flex: 1;
  min-width: 120px;
  color: #14516e;
  font-size: large;
  background-color: white;
  background-size: 100%;
  border: 1px solid #ccc;
  padding: 12px;
  text-align: center;
  border-radius: 4px;
  font-weight: bold;
}
.girlBook{
  background-image: url("girlBook.png");
  background-color: #e4f4fc;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px 30px;
  height: 40%;
  width: 30%;
}
.vedio{
  background-image: url("girlBook.png");
  background-size: cover;
  height: 400px;
  width: 700px;
  color: white;
  text-align: left;
  justify-content: ;  
}
.highlight-lightBlue{
  color: #1779a8;
}
.about-sections{
  font-size: 48px;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  background-size: cover;
  
  padding: 10px 10%;
}
.about-sections{
  align-items: center;
}
.about-text1{
  font-size: 18px;
}
.about-text2{
  font-size: 21px;
}
.form.jpg{
  width: 10px;
  height: 10px;
}
.syllabus-section{
  padding: 100px 20px;
  background-color: white;
  text-align: center;
}
.syllabus-section h2{
  font-size: 50px;
  margin-bottom: 5px;
}
.syllabus-heading{
  font-size: 36px;
}
.syllabus-tags{
  font-size: 40px;
  margin-bottom: 40px;
  color:black;
}
.syllabus-table{
  font-size: 34px;
  color:black;
  width: 100%;
  height: 400px;
  margin: 20px;
  padding: 50px 20%;
  justify-content: center;
}
 .syllabus-table td{
  padding: 40px;
}
.syllabus-table th{
  background-color: orangered;
  color:white;
}
.highlight-orangered{
  color: orangered ;
  font-weight: bold ;
}
.appAndWeb-section{
  font-size: 34px;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  background-size: cover;
  padding: 10px 10%;
}
.app-img{
  width: 40%;
}
.incentive-section{
  gap: 10px;
  background-color: #e4f4fc;
  text-align: center;
  margin: 40px 0px;
  justify-items: center;
}
.font-size{
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.hightlight-grey{
  color: #212529;
}
.winners{
  justify-items: center;
  justify-content: center;
  text-align: left;
   height: 500px;
   display: flex;
   padding: 5px 25px;
}
.Previous-Winners{
  font-size: 48px;
  text-align: center;
  padding: 20px 0px;
  justify-content: center;
}
.winner1{
  background-image: url("winner1.jpg");
  background-size:cover ;
  color: black;
  text-align: center;
  justify-items: last baseline;
  height: 400px;
  width: 400px;
}
.winner2{
  background-image: url("winner2.png");
  background-size: cover;
  color:black;
  height: 430px;
  width: 400px;
  padding: 0px 10px;
}
.winner3{
  background-image: url("winner3.jpg");
  background-size: cover;
  color: black;
  justify-items:  left;
  justify-content: baseline;
  text-align: center;
  height: 400px;
  width: 400px;
}
.pink-vector{
  background-image: url("pink-Vector.png");
  background-size: cover;
  text-align: center;
  justify-content: left;   
}
.blue-vector{
  background-image: url("blue-Vector.png");
  justify-self: baseline;
  background-size: cover;
  text-align: center;
}
.stats-section{
  text-align: center;
  background-color: #e4f4fc;
  background-size: cover;
  justify-content: center;
  padding: 30px 20px;
  margin-top: 40px;
  font-size: 26px;
}
.stats{
  display: flex;
  font-size: 24px;
  justify-content: space-around;
  margin-top: 20px;
}
.testimonials-section{
  font-size: 48px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
  text-align: center;
  display: flex;
  padding: 10px 20px;
}
.testimonials-img{
  justify-content: center;
   justify-items: center;
   display: flex;
   font-size: 18px ;
   height: 400px;
   width: 100%;
}
.faq-section{
  background-color: #e4f4fc;
  margin-top: 40px;
  text-align: center;
  width: 100%;
  height: 60%;
  padding: 30px 10px;
}
.faq-section h2{
  font-size: 48px;
}
.faq-items{
  justify-content: center;
  text-align: left;
  display: flex;
  width: 100%;
  height: 80%;
}
.questions{
  font-size: 22px;
  text-align: left;
}
.asnwers{
  font-size: 22px;
  text-align: left; 
  justify-content: center;
}
.broder{
 border-bottom: 1px grey;
}
.highlight-light-blue{
   color: #e4f4fc;
  font-weight: bold;
  align-items: right;
}
.cta-section{
  background-color: #14516e;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:#e4f4fc;
  padding: 40px 20px;
  text-align: center;
}
.cta-buttons{
  
  background-color: #e4f4fc;
  padding: 15px 0px 15px 0px;
  text-align: center;
  height: 50px;
  width: 100%;
}
.cta-button {
  background-color: #0f6e9b;
  color: #ccc;
  padding: 5px 10px 5px 10px;
  
}
.cta-button1 {
  background-color: #0f6e9b;
  color: #ccc;
  padding: 5px 10px 5px 10px;
  margin-left: 5px;
  
}



  

